*{
    margin: 0;
    padding: 0;
}
.show {
    position: relative;
    left: calc(50% - 300px);
    width: 600px;
    height: 400px;
    background-color: red;
    overflow: hidden;
}
.picture {
    display: flex;
    width: 2400px;
    height: 100%;
    background-color: blue;
    transform: translate(0);
}
.picture > div {
    width: 600px;
    height: 100%;
    text-align: center;
    line-height: 200px;
    background-color: yellow;
}
.picture a {
    text-decoration: none;
    font-size: 40px;
    color: black;
}